/*** Common Styles ***/
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.tooltip-inner {
	white-space: pre;
	max-width: none;
}

input[type=text], input[type=password] {
	font-family: 'FontAwesome';
}

input[type=checkbox] {
	display:none;
	margin-left: 0.5rem;
}

input[type=checkbox] + label {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: -.5rem
}

input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	content: "\f096";
}

input[type=checkbox]:checked + label:before {
	content: "\f046";
}



/*** Top Bar Styles ***/
.nav-space {
	margin-left: .1875rem;
	margin-right: .1875rem;
}

.user-img {
	object-fit: cover;
	width: 40px;
	height: 40px;
}

/*** Side Bar Styles ***/
.sidebar {
	width: 225px;
	display: flex;
	flex-direction: column;
}

.sidebar .navbar {
	display: block;
	height: 100%;
	padding: 0;
}

.sidebar .navbar .nav-link {
	transition: color .15s ease-in-out,background-color .15s ease-in-out;
	color: #fff;
	padding: 1rem;
}

.sidebar .navbar .nav-link:hover, .sidebar .navbar .nav-link:active {
	background-color: #f8f9fa;
	color: #343a40;
}

.nav-link .fa {
	margin-right: 1rem;
}



/*** Content Area Styles ***/
.grow-container {
	flex: 1;
}

.container-fluid > .row {
	height: 100%;
}

.container-fluid > .row > .grow-container {
	padding: 1rem;
}

.vert-pad {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.no-vert-pad {
	padding-top: 0;
	padding-bottom: 0;
}

.field-space {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/*** Footer Styles ***/
.footer .navbar {
	display: block;
}



/*** Home Page Styles ***/
.slide-img {
	object-fit: cover;
	width: 100%;
	height: 500px;
}



/*** Dashboard Page Styles ***/
.card {
	margin: 1rem 0;
}

.card-header {
	cursor: pointer;
}

.card-body table {
	margin-top: 0.5rem;
}

.h-item-options button {
	margin: 0.25rem 0;
}

.h-item {
	width: 125px;
	height: 125px;
	object-fit: contain;
	padding: 0.5rem;
	border: 1px solid rgba(0,0,0,.125);
	transition: border-color .15s ease-in-out;
	border-radius: 0.25rem;
	margin: 0.5rem;
}

.h-item:hover, .h-item:active {
	border: 1px solid #6c757d;
}

.modal-table td:first-child {
	padding-right: 2rem;
}

.modal-table td {
	padding: 0.5rem 0;
}



/*** Settings Page Styles ***/
.settings-form {
	display: inline-block;
	text-align: left;
	margin-top: 2em;
}

.form-row {
	padding: 0.4rem;
}

.form-row:last-child {
	display: block;
}

.form-row input[type="text"], .form-row input[type="password"], .form-row input[type="file"] {
	width: 200px;
}

.form-row span:nth-child(1) {
	width: 200px;
}

.form-row span {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}



/*** Responsive Styles ***/
@media only screen and (max-width: 1350px) {
	.container-fluid > .row {
		display: block;
	}
	
	.sidebar {
		width: 100%;
	}
	
	.sidebar .navbar {
		display: flex;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 512px) {
	header .navbar {
		display: block;
		text-align: center;
	}
	
	header .navbar .navbar-nav {
		display: block;
	}
	
	.sidebar .navbar {
		display: block;
	}
	
	.slide-img {
		height: 300px;
	}
	
	.no-vert-pad {
		padding-bottom: .5rem;
	}
	
	.navbar-brand {
		margin-right: 0;
	}
}
